:root {
  --color-white: #ffffff;
  --color-black-primary: #000000;
  --color-black-secondary: #202020;
  --color-black-opacity: #1d1d1de5;
  --color-gray-primary: #aaaaaa;
  --color-gray-secondary: #404040;
  --color-gray: #999999;
  --color-lime: #95ff8d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* ============================================================
   1. MOBILE STYLES (Default: 0px to 799px)
   Everything outside of a media query applies to mobile first.
   ============================================================ */
.heading-1 {
  font-family: Righteous;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  line-height: 90%;
  letter-spacing: -3%;
  vertical-align: middle;
}

.heading-2 {
  font-family: Righteous;
  font-weight: 400;
  font-style: Regular;
  font-size: 50px;
  line-height: 90%;
  letter-spacing: -3%;
}
.heading-4 {
  font-family: Roboto Flex;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -3%;
  vertical-align: middle;
}
.link-menu {
  font-family: Righteous;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 90%;
  letter-spacing: -3%;
}

.caption {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: -3%;
}

.link {
  font-family: Roboto Mono;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -3%;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.paragraph-1 {
  font-family: Roboto Flex;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -3%;
}

.hero__button-wrapper {
  position: relative;
  width: fit-content;
}

.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: fit-content;
  padding: 12px 19px;
  border-radius: 24.5px;
  background-color: var(--color-lime);
  color: #3c6638;
  transition: background 0.3s;

  transition: all 0.35s;
  position: relative;
  overflow: hidden;
  &::before,
  &::after {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100px) skewX(-15deg);
    content: '';
  }
  &::before {
    width: 60px;
    background: rgba(255, 255, 255, 0.5);
    filter: blur(30px);
    opacity: 0.5;
  }
  &::after {
    width: 30px;
    left: 30px;
    background: rgba(255, 255, 255, 0.2);
    filter: blur(5px);
  }
  &:hover {
    background-color: #00000050;
    color: #ffffff;

    &::before {
      opacity: 1;
    }
    &::before,
    &::after {
      transform: translateX(300px) skewX(-15deg);
      transition: all 0.9s ease;
    }
  }
}

.link--newsletter {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24.5px;
  background-color: var(--color-gray-secondary);
  color: var(--color-lime);
  padding: 12px 19px;
  transition: all 0.35s;

  position: relative;
  overflow: hidden;
  &::before,
  &::after {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100px) skewX(-15deg);
    content: '';
  }
  &::before {
    width: 60px;
    background: rgba(255, 255, 255, 0.5);
    filter: blur(30px);
    opacity: 0.5;
  }
  &::after {
    width: 30px;
    left: 30px;
    background: rgba(255, 255, 255, 0.2);
    filter: blur(5px);
  }
  &:hover {
    background-color: #00000050;
    &::before {
      opacity: 1;
    }
    &::before,
    &::after {
      transform: translateX(300px) skewX(-15deg);
      transition: all 0.9s ease;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  padding-inline: 20px;
  margin-top: 30px;
  z-index: 10;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
}
.header__item-home {
  animation: fadeInSlideUpHeader 1s ease-out;
}
.header__item-running {
  animation: fadeInSlideUpHeader 1.5s ease-out;
}

.header__link {
  position: relative;
  display: inline-block;
}

.header__link::after,
.header__link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, var(--color-lime), lime);

  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.header__link::before {
  top: -5px;
  transform-origin: left;
}

.header__link:hover::after,
.header__link:hover::before {
  transform: scaleX(1);
}

.header__link-group {
  animation: fadeInSlideUpHeader 1.8s ease-out;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hero {
  position: relative;
  padding: 12px 20px;
  display: flex;
  align-items: end;
  width: 100%;
  height: 710px;
  overflow: hidden;
}

.hero--visible .hero__content-wrapper {
  opacity: 1;
  transform: translateX(0);
}

.hero--visible .hero__image {
  opacity: 1;
  transform: scale(1) translateY(0);
  filter: blur(0);
}

.hero__image {
  opacity: 0;
  transform: scale(1.1) translateY(20px);
  transition: opacity 1.2s cubic-bezier(0.215, 0.61, 0.355, 1), transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: blur(5px);

  position: absolute;
  height: 710px;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.hero__content-wrapper {
  transition: opacity 1s ease-out, transform 1s ease-out;
  transform: translateX(-80%);
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.hero__card {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 8px;
  padding: 16px;
  background-color: var(--color-black-opacity);
}

.hero__info-group {
  width: 224px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--color-white);
}

.hero__card,
.hero__btn--primary {
  position: relative;
  z-index: 2;
}

.stride-together {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 525px;
  width: 100%;
  position: relative;
}

.stride-together--visible .stride-together__image {
  opacity: 1;
  clip-path: inset(0 0 0 0);
}

.stride-together__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 525px;
  object-fit: cover;
  clip-path: inset(0 50% 0 50%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, clip-path 1s ease-out 0.3s, opacity 1s ease-out 0.3s;
}

.stride-together__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  z-index: 2;
  padding: 32px 16px;
  width: 100%;
}

.stride-together__container--visible .stride-together__heading,
.stride-together__container--visible .stride-together__description,
.stride-together__container--visible .stride-together__link {
  opacity: 1;
  transform: scale(1);
}

.stride-together__container--visible .stride-together__heading span {
  animation: sideSlide 1s;
}

.stride-together__container--visible .stride-together__container-background {
  opacity: 1;
  clip-path: inset(0 0 0 0);
  animation: bounceFall 1s ease-in forwards;
}

.stride-together__container-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-opacity);
  clip-path: inset(0 50% 0 50%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, clip-path 1s ease-out 0.3s, opacity 1s ease-out 0.3s;
}

.stride-together__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--color-white);
  text-align: center;
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: scale(0);
  transition: opacity 1s ease-out, transform 0.5s ease-out;
  transition-delay: 1s;
}

.stride-together__heading .stride-together__heading--span {
  display: inline-block;
}
.stride-together__heading .stride-together__heading--span:nth-of-type(1) {
  animation-delay: 1s;
}
.stride-together__heading .stride-together__heading--span:nth-of-type(2) {
  animation-delay: 1.05s;
}
.stride-together__heading .stride-together__heading--span:nth-of-type(3) {
  animation-delay: 1.1s;
}
.stride-together__heading .stride-together__heading--span:nth-of-type(4) {
  animation-delay: 1.15s;
}
.stride-together__heading .stride-together__heading--span:nth-of-type(5) {
  animation-delay: 1.2s;
}
.stride-together__heading .stride-together__heading--span:nth-of-type(6) {
  animation-delay: 1.25s;
}
.stride-together__heading .stride-together__heading--span:nth-of-type(7) {
  animation-delay: 1.3s;
}
.stride-together__heading .stride-together__heading--span:nth-of-type(8) {
  animation-delay: 1.35s;
}
.stride-together__heading .stride-together__heading--span:nth-of-type(9) {
  animation-delay: 1.4s;
}

.stride-together__heading--heading-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.stride-together__heading--span-group {
  display: flex;
}

.stride-together__description {
  text-align: center;
  color: var(--color-white);
  width: 318px;
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: scale(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
  transition-delay: 2.5s;
}

.stride-together__link {
  opacity: 0;
  transform: scale(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
  transition-delay: 2.5s;
}

.raised-cta-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.raised,
.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 400px;
  padding: 24px 40px;
  overflow: hidden;
}

.raised__content--visible + .raised__bg-image {
  filter: blur(0);
  transform: scale(1);
}

.raised__content--visible .raised__subheading,
.raised__content--visible .raised__link {
  opacity: 1;
}

.raised__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  z-index: 2;
}

.raised__text-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.raised__heading,
.cta__heading,
.raised__subheading {
  color: var(--color-white);
  text-align: center;
}

.raised__subheading {
  opacity: 0;
  transition: opacity 1s ease-out;
  transition-delay: 3s;
}

.raised__heading {
  text-wrap: nowrap;
}

.raised__link {
  text-decoration: none;
  transition: opacity 1s ease-out;
  transition-delay: 4s;
  opacity: 0;
}

.raised__bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: blur(5px);
  transition: filter 1s ease-out, transform 1s ease-out;
  transition-delay: 2.1s;
  transform: scale(1.1);
}

.cta {
  gap: 30px;
}

.cta--visible .cta__background {
  filter: brightness(1);
}

.cta--visible .cta__heading,
.cta--visible .cta__description {
  opacity: 1;
}

.cta__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-secondary);
  filter: brightness(0);
  transition: opacity 1s ease-out, filter 1s ease-out;
}

.cta__heading {
  z-index: 2;
  opacity: 0;
  transition: opacity 1s ease-out;
  transition-delay: 1s;
}

.cta__description {
  color: var(--color-gray);
  text-align: center;
  z-index: 2;
  opacity: 0;
  transition: opacity 1s ease-out;
  transition-delay: 1s;
}

.mission {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--color-lime);
  height: 400px;
}

.mission--visible .mission__heading {
  opacity: 1;
  animation: bounceFall 1s ease-in forwards;
}

.mission__heading {
  opacity: 0;
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5));
  background: linear-gradient(90deg, #ffa42f, #ff8300, #ff4343, #ff0505);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: opacity 1s ease-out;
}

.stride-together__link {
  width: fit-content;
}

.footer {
  width: 100%;
  height: 550px;
  position: relative;
  padding: 30px 20px;
  color: var(--color-white);
  overflow: hidden;
}

.footer__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  object-fit: cover;
  filter: brightness(0.4);
}

.footer__separator {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__separator--wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__social-links {
  display: flex;
  gap: 8px;
}

.footer__title-symbol {
  display: inline-block;
  opacity: 0;
  transform: translate(-150px, 0) scale(0.3);
  animation: leftRight 0.5s forwards;
}

.footer__title-symbol:nth-of-type(2) {
  animation-delay: 0.05s;
}
.footer__title-symbol:nth-of-type(3) {
  animation-delay: 0.1s;
}
.footer__title-symbol:nth-of-type(4) {
  animation-delay: 0.15s;
}
.footer__title-symbol:nth-of-type(5) {
  animation-delay: 0.2s;
}
.footer__title-symbol:nth-of-type(6) {
  animation-delay: 0.25s;
}
.footer__title-symbol:nth-of-type(7) {
  animation-delay: 0.3s;
}
.footer__title-symbol:nth-of-type(8) {
  animation-delay: 0.35s;
}
.footer__title-symbol:nth-of-type(9) {
  animation-delay: 0.4s;
}
.footer__title-symbol:nth-of-type(10) {
  animation-delay: 0.45s;
}
.footer__title-symbol:nth-of-type(11) {
  animation-delay: 0.5s;
}
.footer__title-symbol:nth-of-type(12) {
  animation-delay: 0.55s;
}
.footer__title-symbol:nth-of-type(13) {
  animation-delay: 0.6s;
}
.footer__title-symbol:nth-of-type(14) {
  animation-delay: 0.65s;
}
.footer__title-symbol:nth-of-type(15) {
  animation-delay: 0.7s;
}
.footer__title-symbol:nth-of-type(16) {
  animation-delay: 0.75s;
}

/* ============================================================
   2. TABLET STYLES (800px and up)
   This overrides mobile styles once the screen hits 800px.
   ============================================================ */
@media screen and (min-width: 800px) {
  .heading-1 {
    font-size: 80px;
  }

  .heading-2 {
    font-size: 64px;
  }

  .heading-4 {
    font-size: 32px;
  }

  .link-menu {
    font-size: 25.97px;
  }

  .hero {
    flex-direction: row;
    justify-content: start;
    align-items: end;
    height: 700px;
  }

  .hero__image {
    height: 700px;
  }

  .hero__content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hero__card {
    flex-direction: row;
    gap: 40px;
  }
  .hero__info-group {
    width: fit-content;
  }

  .stride-together {
    height: 475px;
  }

  .stride-together__image {
    height: 475px;
  }

  .stride-together__heading {
    flex-direction: column;
  }

  .stride-together__heading--heading-group {
    flex-wrap: nowrap;
  }

  .raised-cta-wrapper {
    flex-direction: row;
  }

  .raised,
  .cta {
    width: 50%;
    height: 550px;
  }

  .raised__bg-image {
    height: 550px;
  }

  .mission {
    height: 550px;
  }

  .footer {
    height: 700px;
  }

  .footer__background {
    height: 700px;
  }

  .footer__separator--wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__container {
    width: 50%;
  }
}

/* ============================================================
   3. DESKTOP STYLES (1280px and up)
   This overrides tablet styles once the screen hits 1280px.
   ============================================================ */
@media screen and (min-width: 1280px) {
  .heading-1 {
    font-size: 130px;
  }
  .heading-2 {
    font-size: 120px;
  }
  .heading-4 {
    font-size: 48px;
  }

  .hero {
    height: 745px;
    padding-block: 40px;
  }

  .hero__image {
    height: 745px;
  }

  .stride-together {
    height: 700px;
  }

  .stride-together__image {
    height: 700px;
  }

  .raised,
  .cta {
    padding-inline: 75px;
    height: 800px;
  }

  .raised__bg-image {
    height: 800px;
  }

  .mission {
    height: 700px;
  }
}

@keyframes leftRight {
  40% {
    transform: translate(50px, 0) scale(0.7);
    opacity: 1;
  }

  60% {
    color: var(--color-lime);
  }

  80% {
    transform: translate(0) scale(2);
    opacity: 0;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}

@keyframes fadeInSlideUpHeader {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes sideSlide {
  33% {
    transform: translateY(-10px);
    color: var(--color-white);
  }

  66% {
    transform: translateY(-5px);
    background: linear-gradient(to right, lime, skyblue);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  100% {
    transform: translateY(0);
    background-color: none;
    opacity: 1;
    color: var(--color-white);
  }
}

@keyframes bounceFall {
  0% {
    transform: translateY(-100%);
  }
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-10%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  98% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
