:root {
  --color-white: #ffffff;
  --color-black-primary: #000000;
  --color-black-secondary: #202020;
  --color-black-opacity: #1d1d1de5;
  --color-gray-primary: #aaaaaa;
  --color-gray-secondary: #404040;
  --color-gray: #999999;
  --color-lime: #95ff8d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* ============================================================
   1. MOBILE STYLES (Default: 0px to 799px)
   Everything outside of a media query applies to mobile first.
   ============================================================ */
.heading-1 {
  font-family: Righteous;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  line-height: 90%;
  letter-spacing: -3%;
  vertical-align: middle;
}

.heading-2 {
  font-family: Righteous;
  font-weight: 400;
  font-style: Regular;
  font-size: 50px;
  line-height: 90%;
  letter-spacing: -3%;
}
.heading-4 {
  font-family: Roboto Flex;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -3%;
  vertical-align: middle;
}
.link-menu {
  font-family: Righteous;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 90%;
  letter-spacing: -3%;
}

.caption {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: -3%;
}

.link {
  font-family: Roboto Mono;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -3%;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.paragraph-1 {
  font-family: Roboto Flex;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -3%;
}

.hero__button-wrapper {
  position: relative;
}

.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: fit-content;
  padding: 12px 19px;
  border-radius: 24.5px;
  background-color: var(--color-lime);
  color: #3c6638;
  transition: background 0.3s;

  &:hover {
    cursor: pointer;
    background: transparent;
    + .voltage__svg {
      opacity: 1;
    }
  }
}

.voltage__svg {
  display: block;
  position: absolute;
  top: -0.75em;
  left: -0.25em;
  width: calc(100% + 0.5em);
  height: calc(100% + 1.5em);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
  transition-delay: 0.1s;
}

.voltage__path {
  stroke-dasharray: 100;
  filter: url('#glow');
}
.voltage__path--1 {
  stroke: #f6de8d;
  stroke-dashoffset: 0;
  animation: spark-1 3s linear infinite;
}

.voltage__path--2 {
  stroke: #6bfeff;
  stroke-dashoffset: 500;
  animation: spark-2 3s linear infinite;
}

.link--newsletter {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 24.5px;
  background-color: var(--color-gray-secondary);
  color: var(--color-lime);
  padding: 12px 19px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  padding-inline: 20px;
  margin-top: 30px;
  z-index: 10;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
}
.header__link-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.header__link-events {
  text-decoration: underline;
}

.hero {
  position: relative;
  padding: 12px 20px;
  display: flex;
  align-items: end;
  width: 100vw;
  height: 710px;
}

.hero--visible .hero__card {
  opacity: 1;
  transform: translateX(0);
}

.hero__image {
  position: absolute;
  height: 710px;
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.hero__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.hero__card {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  transform: translateX(-105%);
  opacity: 0;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 8px;
  padding: 16px;
  background-color: var(--color-black-opacity);
}

.hero__info-group {
  width: 224px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--color-white);
}

.hero__card,
.hero__btn--primary {
  position: relative;
  z-index: 2;
}

.stride-together {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 525px;
  width: 100%;
  position: relative;
}

.stride-together__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 525px;
  object-fit: cover;
}

.stride-together__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  z-index: 2;
  padding: 32px 16px;
  background-color: var(--color-black-opacity);
  width: 100%;
}

.stride-together__heading {
  color: var(--color-white);
  text-align: center;
}

.stride-together__description {
  text-align: center;
  color: var(--color-white);
  width: 318px;
}

.raised-cta-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.raised,
.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 400px;
  padding: 24px 40px;
}

.raised__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  z-index: 2;
}

.raised__text-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.raised__heading,
.cta__heading,
.raised__subheading {
  color: var(--color-white);
  text-align: center;
}

.raised__link {
  text-decoration: none;
}

.raised__bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.cta {
  gap: 30px;
  background-color: var(--color-black-secondary);
}

.cta__description {
  color: var(--color-gray);
  text-align: center;
}

.mission {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--color-lime);
  height: 400px;
}

.mission__heading {
  color: var(--color-black-secondary);
}

.stride-together__link {
  width: fit-content;
}

.footer {
  width: 100%;
  height: 550px;
  position: relative;
  padding: 30px 20px;
  color: var(--color-white);
}

.footer__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  object-fit: cover;
  filter: brightness(0.4);
}

.footer__separator {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__separator--wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__social-links {
  display: flex;
  gap: 8px;
}

.footer__title-symbol {
  display: inline-block;
}

.footer__title-symbol:nth-of-type(2) {
  animation-delay: 0.05s;
}
.footer__title-symbol:nth-of-type(3) {
  animation-delay: 0.1s;
}
.footer__title-symbol:nth-of-type(4) {
  animation-delay: 0.15s;
}
.footer__title-symbol:nth-of-type(5) {
  animation-delay: 0.2s;
}
.footer__title-symbol:nth-of-type(6) {
  animation-delay: 0.25s;
}
.footer__title-symbol:nth-of-type(7) {
  animation-delay: 0.3s;
}
.footer__title-symbol:nth-of-type(8) {
  animation-delay: 0.35s;
}
.footer__title-symbol:nth-of-type(9) {
  animation-delay: 0.4s;
}
.footer__title-symbol:nth-of-type(10) {
  animation-delay: 0.45s;
}
.footer__title-symbol:nth-of-type(11) {
  animation-delay: 0.5s;
}
.footer__title-symbol:nth-of-type(12) {
  animation-delay: 0.55s;
}
.footer__title-symbol:nth-of-type(13) {
  animation-delay: 0.6s;
}
.footer__title-symbol:nth-of-type(14) {
  animation-delay: 0.65s;
}
.footer__title-symbol:nth-of-type(15) {
  animation-delay: 0.7s;
}
.footer__title-symbol:nth-of-type(16) {
  animation-delay: 0.75s;
}

.seven span {
  opacity: 0;
  transform: translate(-150px, 0) scale(0.3);
  animation: leftRight 0.5s forwards;
}

/* ============================================================
   2. TABLET STYLES (800px and up)
   This overrides mobile styles once the screen hits 800px.
   ============================================================ */
@media screen and (min-width: 800px) {
  .heading-1 {
    font-size: 80px;
  }

  .heading-2 {
    font-size: 64px;
  }

  .heading-4 {
    font-size: 32px;
  }

  .link-menu {
    font-size: 25.97px;
  }

  .hero {
    flex-direction: row;
    justify-content: start;
    align-items: end;
    height: 700px;
  }

  .hero__image {
    height: 700px;
  }

  .hero__content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hero__card {
    flex-direction: row;
    gap: 40px;
  }
  .hero__info-group {
    width: fit-content;
  }

  .stride-together {
    height: 475px;
  }

  .stride-together__image {
    height: 475px;
  }

  .raised-cta-wrapper {
    flex-direction: row;
  }

  .raised,
  .cta {
    width: 50%;
    height: 550px;
  }

  .raised__bg-image {
    height: 550px;
  }

  .mission {
    height: 550px;
  }

  .footer {
    height: 700px;
  }

  .footer__background {
    height: 700px;
  }

  .footer__separator--wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__container {
    width: 50%;
  }
}

/* ============================================================
   3. DESKTOP STYLES (1280px and up)
   This overrides tablet styles once the screen hits 1280px.
   ============================================================ */
@media screen and (min-width: 1280px) {
  .heading-1 {
    font-size: 130px;
  }
  .heading-2 {
    font-size: 120px;
  }
  .heading-4 {
    font-size: 48px;
  }

  .hero {
    height: 745px;
    padding-block: 40px;
  }

  .hero__image {
    height: 745px;
  }

  .stride-together {
    height: 700px;
  }

  .stride-together__image {
    height: 700px;
  }

  .raised,
  .cta {
    padding-inline: 75px;
    height: 800px;
  }

  .raised__bg-image {
    height: 800px;
  }

  .mission {
    height: 700px;
  }
}

@keyframes spark-1 {
  to {
    stroke-dashoffset: -1000;
  }
}
@keyframes spark-2 {
  to {
    stroke-dashoffset: -500;
  }
}

@keyframes leftRight {
  40% {
    transform: translate(50px, 0) scale(0.7);
    opacity: 1;
  }

  60% {
    color: var(--color-lime);
  }

  80% {
    transform: translate(0) scale(2);
    opacity: 0;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}
